/* Editor slider css temporary placed */
.horizontal-slider {
  width: 100%;
  max-width: 800px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 0 auto;
}

.slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.blinking-cursor::after {
  content: '|';
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
