/* Editor slider css temporary placed */
/* .horizontal-slider {
  width: 100%;
  max-width: 800px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 0 auto;
}

.slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
} */

terminal {
  /* Your custom styles for the terminal component */
  /* Example styles: */
  background-color: red !important;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-family: monospace;
}
