@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

html {
  overflow-x: hidden;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  background-color: #050505;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  background-color: #050505;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.blinking-cursor::after {
  content: '|';
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
